<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="flex-center">
    <div>
    
      <ion-card>
        <ion-card-content>
    <ion-item lines="full">
      <ion-label position="floating">FIRST NAME</ion-label>
      <ion-input type="firstname" [(ngModel)]="firstname"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">LAST NAME</ion-label>
      <ion-input type="lastname" [(ngModel)]="lastname"></ion-input>
    </ion-item>

    <ion-radio-group [(ngModel)]="gender">
      <ion-list-header>
        <ion-label>Gender</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Male <ion-icon name="male"></ion-icon></ion-label>
        <ion-radio slot="start" value="male"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Female <ion-icon name="female"></ion-icon></ion-label>
        <ion-radio slot="start" value="female"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-item lines="full">
      <ion-label position="floating">ADDRESS</ion-label>
      <ion-input type="address" [(ngModel)]="address"></ion-input>
    </ion-item>

        <ion-item lines="full">
      <ion-label position="floating">STATUS</ion-label>
      <ion-input type="status" [(ngModel)]="status"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">RELIGION</ion-label>
      <ion-input type="text" [(ngModel)]="religion"></ion-input>
    </ion-item>    

    <ion-item>
      <div class="bday">
        <ion-label position="floating">Date of Birth</ion-label>
        &nbsp;<ion-input type="Date" [(ngModel)]="bdate"></ion-input>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">USERNAME</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">EMAIL</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">PASSWORD</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">REPEAT PASSWORD</ion-label>
      <ion-input type="password" [(ngModel)]="rpassword"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" color="danger" (click)="register()"><ion-icon name="create-outline"></ion-icon>Create Account</ion-button>
    <ion-button expand="block" fill="clear" color="blue" (click)="login()"><ion-icon name="log-in-outline"></ion-icon>Back to Login</ion-button>
  </ion-card-content>
  </ion-card>
  </div>
  </div>
  </ion-content>
